# Default ignored files
/shelf/
/df_pronto_scalling
/olist_treino_teste.pkl
/random_forest_finalized.pkl
/df_pronto_scalling.csv
/antes_conversão_tempo.csv
/df_pronto_EDA
/df_antes_feature_enginering.csv